version: "3.9"

services:

  # =========================
  # Reverse Proxy (Traefik)
  # =========================
  proxy:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # =========================
  # Backend (Node.js API)
  # =========================
  backend:
    build:
      context: .
      target: backend-dev
    container_name: backend
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: secret
      MYSQL_DB: todos
    depends_on:
      mysql:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`localhost`) && PathPrefix(`/api`)"
      - "traefik.http.services.backend.loadbalancer.server.port=3000"

  # =========================
  # Frontend (React + Vite)
  # =========================
  client:
    build:
      context: .
      target: client-dev
    container_name: client
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.client.rule=Host(`localhost`)"
      - "traefik.http.services.client.loadbalancer.server.port=5173"

  # =========================
  # MySQL Database
  # =========================
  mysql:
    image: mysql:9.3
    container_name: mysql
    volumes:
      - todo-mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: todos
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

  # =========================
  # phpMyAdmin
  # =========================
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: secret
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.phpmyadmin.rule=Host(`db.localhost`)"
      - "traefik.http.services.phpmyadmin.loadbalancer.server.port=80"

# =========================
# Volumes
# =========================
volumes:
  todo-mysql-data:
