name: Docker image build and push demo

on:
  workflow_dispatch:

jobs:
  publish_images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t "${{ secrets.DOCKER_HUB_USERNAME }}/github-action-project:latest" .

      - name: Push Docker image to Docker Hub
        run: |
          docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" -p "${{ secrets.DOCKER_HUB_TOKEN }}"
          docker push "${{ secrets.DOCKER_HUB_USERNAME }}/github-action-project:latest"
